// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
// $primary: #577590;
// $success: #43aa8b;
// $danger: #f94144;
// $warning: #f3722c;

@import "./superhero_variables.scss";

// $body-bg: #0f2537;

// 3. Include remainder of required Bootstrap stylesheets
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// 5. Add additional custom code here

@import "./superhero_bootswatch.scss";

body,
#app {
  min-height: 100vh;
}

html {
  height: -webkit-fill-available;
}

.card {
  background: none;
  border-width: 3px;
}
.card-header {
  background-color: $dark;
}
