@import "./superhero_variables.scss";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$custom-colors: (
  "very-hard": #900,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./superhero_bootswatch.scss";

body,
#app {
  min-height: 100vh;
}

html {
  height: -webkit-fill-available;
}

.card {
  background: none;
  border-width: 3px;
}
.card-header {
  background-color: $dark;
}

/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: lighten($dark, 5%);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darken($dark, 5%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken($dark, 3%);
}
